/* p[class]{
    color: springgreen;
}
img[alt]{
    border: 4px solid blue;
} */
/* p[class^="para"] {
    color: blue;
} */
/* p[class|="para"] {
    color: red;
} */
/* p[class$="sita"] {
    color: blue;
} */
/* p[class*="one"] {
    color: pink;
} */
/* p[class~="sita"] {
color: blue;
} */