/* *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: red;
}

p{
   border: 1px solid red;
} */

/* .initial_line{
    color: chartreuse;
} */


/* #Heading_name{
    border: 1px solid red;
} */

/* div .para_one{
    border: 1px solid red;
} */

/* p{
    border: 1px solid red;
 }  */


 /* .para_one{
    background-color: rgba(145, 254, 200, 0.1);
   }
   
   .para_two{
    background-color: red;
    opacity: 0.1;
   } */