/* :link */
/* ul a{
    color: deeppink;
} */

/* :hover */
/* ul a:hover{
    color: deeppink;
    background-color: aqua;
} */

/* :active */
/* ul a:active{
    color: deeppink;
} */

/* :visited */
/* ul a:visited{
    color: deeppink;
} */




